@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #eae6e6;
  line-height: 1.6;
}

img {
  width: 5rem;
  height: 10rem;
}

ul {
  list-style: none;
}

.inicio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20rem;
}




.headerbrand {
  display: flex;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: solid;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.loading{
  background:transparent url('../public/loading.gif') center center no-repeat;
}


.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
  width: 20rem;
}








.cardClass {
  
  max-width: 100%;
  height: 100%;
  clear:both;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 40rem;
  
}



.pagination {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: rebeccapurple;
  justify-content: center;
}

.pagination li {
  list-style-type: none;
}



.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}



.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}



/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link a {
  color: #fff;
  cursor: pointer;
}

.footerModal {
  margin-top: 2.5rem;
}

.bodyModal {
  margin-left: 2.5rem;
}

.footer {
 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  background-color: black;
  color: white;
 
}



.about p {
  margin: 10px 0;
}

